#filter-profiles{
    background-color: #2D2D2D;
    height: auto;
    width: 100%;
    color: #fff;
}

.age-box{
    width: 60px;
}

.filter-box{
    text-align: center;
}

.filter-box li p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: -4%;

}

.form-group{
    margin: 0 auto;
    text-align: center;
}

.form-group-age{
        width: 60px;
}

.form-group-gender{
        width: 100px;
}

.form-group-location{
        width: 160px;
}

#from{
    margin-bottom: -5px;
}

