@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/css")
}

<div id="wrapper">
    <div id="hero">
        <div class="header">
            <h1>Wink</h1>
            <h2>Easy Dating Service</h2>
            <h3>- Meet your partner today -</h3>
        </div>
    </div>

    <div class="row index-text">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2>Easy</h2>
                <p>Nunc malesuada enim at bibendum vulputate. Etiam a viverra massa, id rhoncus lectus. Nulla ante felis, commodo eget elit vitae, cursus sollicitudin enim. Nam quis quam tincidunt, ornare arcu malesuada, convallis ante. Curabitur lobortis vel nunc a molestie. Etiam malesuada nisl vulputate, porta justo a, dignissim diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque urna feugiat dui accumsan convallis. Sed lobortis velit tellus, finibus dignissim ante ultricies in. Donec ut libero ullamcorper, ultrices justo at, viverra odio. Aliquam pharetra eu erat nec vulputate. Donec nisl ex, posuere nec neque et, maximus consectetur nunc. Etiam auctor, quam ac tempus mollis, neque lacus placerat augue, vel hendrerit mi nulla eget magna.</p>
            </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row index-text">
        
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4>Finder</h4>
            <p>Nunc malesuada enim at bibendum vulputate. Etiam a viverra massa, id rhoncus lectus. Nulla ante felis, commodo eget elit vitae, cursus sollicitudin enim. Nam quis quam tincidunt, ornare arcu malesuada, convallis ante. Curabitur lobortis vel nunc a molestie. Etiam malesuada nisl vulputate, porta justo a, dignissim diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque urna feugiat dui accumsan convallis. Sed lobortis velit tellus, finibus dignissim ante ultricies in. Donec ut libero ullamcorper, ultrices justo at, viverra odio. Aliquam pharetra eu erat nec vulputate. Donec nisl ex, posuere nec neque et, maximus consectetur nunc. Etiam auctor, quam ac tempus mollis, neque lacus placerat augue, vel hendrerit mi nulla eget magna.</p>
        </div>
        

        <div class="col-md-5">
            <h5>Matching</h5>
            <p>Proin rhoncus sed ante id vulputate. Integer pretium id magna fringilla sollicitudin. Donec congue turpis ligula. Aenean ornare leo dolor, ac dapibus risus faucibus pretium. Maecenas dignissim consectetur pellentesque. Sed tempor facilisis lacus, ac commodo nunc maximus at. Vestibulum eget eros sed nulla luctus semper at vitae eros. Phasellus elementum maximus fermentum. In aliquet mattis imperdiet. Integer vulputate malesuada lorem et dapibus. Donec ac est ac lorem sagittis iaculis nec ac ex. Quisque non bibendum nulla, eu sodales mi.</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div id="footer">
        <p> I am the footer, and you have scroll down to see me.</p>
    </div>
</div>